In [1]:
import pandas as pd

In [2]:
pwd

'/Users/glorialim/Cosc 301'

In [3]:
ls

Life expectancy.csv  Untitled.ipynb       Untitled2.ipynb
Untitled Folder/     Untitled1.ipynb      lab1-gloria-lim/

In [5]:
data = pd.read_csv("Life expectancy.csv")

In [6]:
data.head()

      Entity  Year  Life expectancy
0  Australia  1802        34.049999
1  Australia  1803        34.049999
2  Australia  1804        34.049999
3  Australia  1805        34.049999
4  Australia  1806        34.049999